
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif; 
    background-color: #f4f6f9;
    color: #333333;
}


header {
    background-color: #ffc5aa; 
    color: #ffffff;            
    text-align: center;        
    padding: 30px 20px;
}

header h1 {
    font-size: 2.2rem;
    margin-bottom: 8px;
}

header h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 5px;
}

header h3 {
    font-size: 1.2rem;
    color:#ffffff;
}


section {
    width: 90%;               
    margin: 10px auto;         
    background-color: #eef8cd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}


h3 {
    font-family: 'Montserrat', sans-serif; 
    text-align: center;                   
    margin-bottom: 15px;
    color: #ffc5aa;
}


p {
    text-align: justify;       
    line-height: 150%;         
    font-size: 1rem;
}


footer {
    background-color: #ffc5aa; 
    color: #ffffff;            
    text-align: center;        
    padding: 20px;
    margin-top: 20px;
}

footer h5 {
    font-weight: 400;
    font-size: 0.95rem;
}
